<ul *ngIf="isLogged" style="height: 95vh" class="nav flex-column pt-4 bg-info">
    <li class="nav-item">
      <a class="nav-link active text-white" routerLink="/customers">
      <i class="fas fa-user-tie"></i>
      <span class="ml-3">Custumers</span>
      </a>
    </li>
   
    <li class="nav-item">
            <a class="nav-link active text-white" routerLink="/contacts">
            <i class="fas fa-envelope"></i>
            <span class="ml-3">Contacts</span>
            </a>
    </li>

    <li class="nav-item">
                <a class="nav-link active text-white" href="#">
                <i class="fas fa-shopping-cart"></i>
                <span class="ml-3">Leads </span>
                </a>
              </li>
    <li class="nav-item">
                    <a class="nav-link active text-white" href="#">
                    <i class="fas fa-signal"></i>
                    <span class="ml-3">Reports</span>
                    </a>
            </li>
    <li class="nav-item">
                        <a class="nav-link active text-white" href="#">
                        <i class="fas fa-stack-exachange"></i>
                        <span class="ml-3">Integrations </span>
                        </a>
                    </li>

    <li class="nav-item">
      <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
    </li>
  </ul>